
@{
    ViewBag.Title = "Beslenme";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Healthy Life</title>
    <link rel="stylesheet" href="~/Web/css/Beslenme.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>

    <!--Neden Sağlıklı beslenmeliyiz kısmı-->

    <div class="about" id="About">
        <div class="about_main">

            <div class="image">
                <img src="~/Web/image/Food-Plate.png">
            </div>

            <div class="about_text">
                <h1><span>Sağlıklı</span>Beslenme</h1>
                <h3>Neden Sağlıklı Beslenmeliyiz ?</h3>
                <p>
                    Dengeli, düzenli ve akılcı beslendiğinizde, beyniniz daha iyi, daha berrak çalışır, hafızanız güçlenir. Veriminiz, bağışıklığınız artar, hastalıklara karşı daha dirençli hale gelirsiniz, cildiniz sağlıklı olur. Kısaca daha kaliteli bir yaşam sürersiniz.
                </p>
            </div>
        </div>
    </div>
    <!--Menu-->

    <div class="menu" id="Menu">
        <h1>Sağlıklı<span>Tarifler</span></h1>

        <div class="menu_box ">
            <div class="menu_card">

                <div class="menu_image">
                    <img src="">
                </div>

                <div class="small_card">
                    <i class="fa-solid fa-heart"></i>
                </div>

                <div class="menu_info">
                    <h2></h2>
                    <p> </p>
                    <h3></h3>
                    <input type="button" class="menu_btn" onclick="location.href='Tarifler.html';"
                           value="Tarif" />
                </div>
            </div>
        </div>
    </div>
    <!--Gallary-->

    <div class="gallary" id="Gallary">
        <h1>Sağlıklı<span>Tarifler</span></h1>

        <div class="gallary_image_box">
            <div class="gallary_image">
                <img src="~/Web/image/vegantarif.jpg">

                <h3>Vegan Tarifler</h3>
                <p>

                </p>
                <a href="#" class="gallary_btn">Tarifler</a>
            </div>

            <div class="gallary_image">
                <img src="~/Web/image/şekersiztarifler.jpg">

                <h3>Şekersiz Tarifler</h3>
                <p>

                </p>
                <a href="#" class="gallary_btn">Tarifler</a>
            </div>

            <div class="gallary_image">
                <img src="~/Web/image/glutensiztarif.jpg">

                <h3>Glutensiz Tarifler</h3>
                <p>

                </p>
                <a href="#" class="gallary_btn">Tarifler</a>
            </div>

        </div>
    </div>
    <script src="~/Web/js/Beslenme.js"></script>
</body>
</html>

