
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_TestLayout.cshtml";
}

<!DOCTYPE html>
<html lang="en">
<body>

    <!----SLİDER-->
    <section class="slider">
        <div id="carouselBookSlider" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="~/Web/image/slider111111.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Web/image/slider22222222.jpg" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item">
                    <img src="~/Web/image/slider3333.jpg" class="d-block w-100" alt="...">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselBookSlider" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselBookSlider" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </section>


    <div id="quality" class="quality">
        <div class="main-quality">
            <div class="main-inner-quality">
                <div class="quality-content">
                    <h1>Sağlıklı Yaşam Nedir?</h1>
                    <p>
                        Sağlıklı yaşam, bedenen ve ruhen sağlıklı, iyi, mutlu hissettiren bir yaşam şeklidir. Birçok insan için sağlıklı yaşam tanımı farklı olsa da genel anlamda bedenimize ve ruhumuza iyi gelen, fayda sağlayan alışkanlıklara sahip olma durumu olarak tanımlanabilir.
                    </p>
                    <h1>Sağlıklı yaşam neden önemlidir?</h1>
                    <p>
                        1. Hastalıklara karşı korur
                    </p>
                    <p>
                        2. Yaşam süresini uzatmaya katkı sağlar
                    </p>
                    <p>
                        Sağlıklı yaşamın hem vücudumuza, hem ruhumuza hem de dünyamıza birçok faydasından bahsetmek mümkün.
                    </p>

                </div>
            </div>

            <div class="main-inner-quality">
                <div class="quality-content quality-image">
                    <img src="~/Web/image/anasayfa111.jpg " alt="">
                </div>
            </div>
        </div>
    </div>


    <div class="healthylife" id="healthylife">


        <div class="healthylife_main">

            <div class="image">
                <img src="~/Web/image/vucut-yag-orani.jpg">
            </div>

            <div class="healthylife_text">
                <h3>VÜCUT YAĞ ORANI </h3>
                <p>Vücut Yağ Oranı, kişinin toplam vücut yağının toplam vücut ağırlığına oranıdır. Vücut Yağ Oranı size vücudunuzdaki yağın gerçek ağırlığının bilgisini verir. Peki, vücudunuzdaki yağ oranını minimum hata payı ile öğrenmenizi sağlayacak pratik bir hesaplama yöntemine ne dersiniz? O halde bu sayfada yer alan yağ oranı ölçme aracını* siz de mutlaka denemelisiniz!</p>


            </div>

        </div>


        <section class="hesap bmr-hesaplama">
            <div class="container">
                <div class="title">
                    <h2 class="title-heading">Yağ oranı hesaplama</h2>
                    <p class="title-explanation">1 dakikada yağ oranınızı öğrenin</p>
                    <p class="title-exp">Bu hesaplayici %3 maksimum hata payi ile en güvenilir hesaplamalardan biridir.</p>
                    <p class="title-exp">Spor salonunuzdaki ölcüm cihazlari %8 hata payina sahiptir.</p>
                </div>
                <form class="form">
                    <div class="entry">
                        <label for="" class="gender">Cinsiyet</label>
                        <div class="gender-">
                            <input type="radio" name="gender" id="male"> Erkek
                            <input type="radio" name="gender" id="female"> Kadın
                        </div>
                    </div>
                    <div class="entry">
                        <label for="" class="height">Boy (cm)</label>
                        <input class="index" min="100" max="250" type="number" name="height" id="height" placeholder="Boyunuzu giriniz" required>
                    </div>
                    <div class="entry">
                        <label for="" class="neck">Boyun Çevresi (en geniş - cm)</label>
                        <input class="index" min="20" max="60" type="number" name="neck" id="neck" placeholder="Boyun çevrenizi giriniz" required>
                    </div>
                    <div class="entry">
                        <label for="" class="bel">Bel Çevresi (en ince - cm)</label>
                        <input class="index" min="30" max="200" type="number" name="bel" id="bel" placeholder="Bel çevrenizi giriniz" required>
                    </div>
                    <div class="entry">
                        <label for="" class="kalca">Kalça Çevresi (en geniş - cm)</label>
                        <input class="index" min="30" max="200" type="number" name="kalca" id="kalca" placeholder="Kalça çevreniz (Kadınlar için)">
                    </div>
                    <button type="submit" id="bmrbutton" class="submit">Hesapla</button>
                    <input class="index" name="sonuc" id="sonuc" placeholder="Yağ Oranınız">
                </form>
            </div>
        </section>

        <div class="healthylifekalori" id="healthylifekalori">
            <div class="healthylife_main">

                <div class="image">
                    <img src="~/Web/image/kaloriHesaplama.jpg">
                </div>

                <div class="healthylife_text">
                    <h3>Kalori Hesaplama</h3>
                    <p>
                        Kilo vermek, zayıflamak için ilk kural yediğinizden daha çok kaloriyi yakmaktır. Bir diğer deyişle kalori alımını sınırlandırmanız gerekir. Teoride kulağa basit gelse de günümüzün modern gıda ortamında yediklerimizin kalorisini hesaplamak ve bunu uygulamak kolay değil. Kalori hesaplama uygulamaları ile yediklerinizi daha kolay takip edebilir, diyetinize sadık kalabilirsiniz...
                    </p>
                </div>
            </div>

        </div>

        <section class="hesap kalori-hesaplama">
            <div class="container">
                <div class="title">
                    <h2 class="title-heading">Kalori hesaplama</h2>
                    <p class="title-explanation">Hemen şimdi günlük kalori ihtiyacınızı öğrenin</p>
                </div>
                <form class="form">
                    <div class="entry">
                        <label for="" class="height">Kilo (kg)</label>
                        <input class="index" min="20" max="300" type="number" name="weight" id="weight" placeholder="Kilonuzu giriniz" required>
                    </div>
                    <div class="entry">
                        <label for="" class="neck">Yağ Oranı</label>
                        <input class="index" min="20" max="60" type="number" name="neck" id="neck" placeholder="Boyun çevrenizi giriniz" required>
                    </div>
                    <div class="entry">
                        <label for="" class="activity">Aktivite Seviyeniz</label>
                        <div class="activity-">
                            <input type="radio" name="activity" id="act1"> Hareketsiz
                            <br>
                            <input type="radio" name="activity" id="act2"> Biraz Aktif
                            <br>
                            <input type="radio" name="activity" id="act3"> Hareketsiz is, Haftada 3-4 gün antrenman
                            <br>
                            <input type="radio" name="activity" id="act4"> Ortalama is, Haftada 5-7 gün antrenman
                            <br>
                            <input type="radio" name="activity" id="act5"> Yogun is, Profesyonel Seviyede Antrenman
                        </div>
                    </div>
                    <button type="submit" class="submit">Hesapla</button>
                    <input class="index" name="sonuc" id="sonuc" placeholder="Almanız gereken kalori">
                </form>
            </div>
        </section>
        <script type="text/javascript"
                src="~/Web/bootstrap/js/bootstrap.min.js"></script>
        <script src="~/Web/js/owl.carousel.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <script src="~/Web/js/Anasayfa.js"></script>
</body>
</html>

