
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Page</title>
    <link rel="stylesheet" href="~/Web/css/giris.css">
</head>
<body>
    <div class="box">
        <form autocomplete="off">
            <h2>Healthy Life</h2>
            <div class="inputBox">
                <input type="text" id="username" required="required">
                <span>Kullanıcı adı</span>
                <i></i>
            </div>
            <div class="inputBox">
                <input type="password" id="password" required="required">
                <span>Şifre</span>
                <i></i>
            </div>
            <div class="links">
                <a href="Anasayfa.html">AnaSayfaya dön</a>
                <a href="kayıtol.html">Kayıt ol</a>
            </div>
            <input type="button" onclick="getInfo()" value="Giriş Yap">
        </form>
    </div>
    <script src="~/Web/js/login.js"></script>
</body>
</html>
